.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
}

.image-container img {
  max-width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 30px; /* уменьшили значение margin-right */
  margin-right: 30px; /* уменьшили значение margin-right */
}


.my-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4d4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Добавлено свойство margin */
}

.my-button:hover {
  background-color: #262626;
}

.btn {
  text-align: center;
}


.text {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px #333;
}

body {
    background-color: #737373
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
}